
h3 {
	font-family: "Arial Rounded MT Bold";
	text-align: center;
	padding: 5px;
}

h2 {
	font-family: "Arial Rounded MT Bold";
	text-align: left;
	margin-left: 130px;
	padding-top: 40px;
	padding-bottom: 20px;
}

.secretpic {
	width:600px; 
	border: 2px solid #cc0000;
	padding: 10px;
}

.box {
	clear: both;
	background-color:white;
	border-bottom: 3px solid #cc0000;
}

.backgroundcolor {
	background: #cc0000;
}

.source > a {
	color: #cc0000;
	font-size: 10px;
}

.source {
	font-size: 10px;
}

.picture {
	display:block;
	float:right;
}