/*COLOR SCHEME:
	teal: #0C7A56;
	yellow: #E3CB80;
	dark green: #021615;
	bright tea: #17E8A4;

*/
.home-button {
	position: absolute;
	top: 15px;
	left: 15px;
	color: #E3CB80;
	font-size: 20px;
	transition: linear 0.5s;
}

.home-button:hover {
	color: #0C7A56;
	text-shadow: 2px 2px 1px #E3CB80;
}

.header-font {
	font-family: 'Raleway Dots', Helvetica;
	color: #E3CB80;
}

.body-font {
	font-family: 'Josefin Sans', sans-serif;
	color: #021615;
}


.menu {
	height: 800px;
	background: url("images/menu-background.jpg") no-repeat;
	background-size: cover;
}

.glyphicon-triangle-bottom {
	font-size: 0.5em;
	color: #0C7A56;
	transition: linear .35s;
}

.main {
	background-color: #021615;
	text-align: center;
}

.main > h1 {
	color: #E3CB80;
	font-family: 'Codystar', Helvetica;
	letter-spacing: 0.1em;
	font-weight: bold;
}

.tag {
	font-family: 'Londrina Outline', cursive;
	color: #0C7A56;
	font-weight: 900;
	letter-spacing: 0.24em;
	text-align: right;
	font-size: 17px;
	padding-top: 0;
	margin-top: -0.7em;
}

.menu-item:first-child {
	padding-top: 2em;
}

.menu-item {
	padding-top: 4em;
	text-align: center;
}

.menu a {
	font-size: 4rem;
	color: #0C7A56;
	transition: linear .35s;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: normal;
}

@media screen and (max-width: 882px) {
	.menu a {
		font-size: 2em;
		text-align: left;
		margin-left: -1em;
		padding-left: 0;
	}
	.menu-item:first-child {
		font-size: 0.8em;
		padding-left: 0;
		padding-right: 0;
	}	
}

@media screen and (max-width: 450px) {
	.menu-item:first-child {
		margin-left: 0.5em;
	}
}

.menu a:hover {
	color: #E3CB80;
	text-decoration: none;
}

.menu a:hover > .glyphicon-triangle-bottom {
	color: #E3CB80;
	text-decoration: none;
}

.content {
	height: 709px;
	background-color: rgba(12, 122, 86, 0.32);
}

@media screen and (max-width: 912px) {
	.content {
		height: 670px;
	}
}

@media screen and (max-width: 600px) {
	.content{
		height: 646px;
	}
}

@media screen and (max-width: 550px) {
	.content {
		height: 607px;
	}
}

.content .intro {
	margin-top: 30px;
	height: 310px;
	width: 550px;
	background-color: #0C7A56;
	position: absolute;
	text-align: center;
	border-radius: 5px;
}

.content .intro div {
	margin-top: 40px;
}

.content .intro img {
	height: auto;
	width: 9em;
	border-radius: 5%;
	border: 0.1px solid #E3CB80;
}

.content .intro .random-info {
	list-style-type: none;
	color: #021615;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	padding-top: 3vh;

}

.random-info li {
	padding-top: .3em;

}

.random-info span {
	font-size: 0.5em;
}

.content .intro .random-info .indent {
	margin-top: -0.5em;
	font-weight: normal;
	font-size: 0.8em;
}


.about-me-div img {
	padding-top: 1em;
	width: 100%;
}

.about-me {
	height: 18em;
	background-color: #0C7A56;
	border-radius: 5px;
	overflow-y: scroll !important;
	box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.35);
}

.caption {
	font-size: 0.9em;
	text-align: center;
}

.about-me .header-first {
	text-align: center;
}

.about-me::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.about-me::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.about-me h2 {
	text-align: center;
	color: #E3CB80;
}

.about-me-text {
	color: #021615;
}

.about-me a {
	color: #17E8A4;
	text-decoration: underline;
}

.about-me a:hover {
	color: #E3CB80;
}

.about-me-links {
	margin-top: 1em;
	height: 8em;
	background-color: #0C7A56;
	border-radius: 5px;
	overflow-y: scroll !important;
	box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.35);
}

.about-me-links h3 {
	text-align: center;
	margin: 0;
	padding: 0.5em 0 0 0;
}

.about-me-links li{
	list-style-type: none;
}

.about-me-links li:before {
  content: "\2605";
  padding-right: 2em;
  color: #021615;
  font-size: 0.7em;
}

.about-me-links a, .about-me-links a:active, .about-me-links a:visited {
	color: #17E8A4;
	text-decoration: underline;
}

.about-me-links a:hover {
	color: #E3CB80;
}

.contact-div {
	height: 9.5em;
	background-color: #021615;
}

.linked-contact {
	padding-top: 0.8em;
}

.contact-item:first-child {
	padding-top: 0.5em;
	padding-bottom: 0;
}

.contact-item i {
	color: #0C7A56;
	padding-right: 0.8em;
	font-size: 1.2em;
}

.contact-item p {
	font-family: 'Josefin Sans', sans-serif;
	color: #E3CB80;
	font-size: 1em;
	display: inline-block;
}

.contact-item a {
	font-family: 'Josefin Sans', sans-serif;
	color: #E3CB80;
	font-size: 1em;
}

.contact-item a:hover {
	text-decoration: underline;
}

.portfolio {
	margin-top: 1em; 
	height: 42em;
	background-color: #0C7A56;
	border-radius: 5px;
	overflow-y: scroll !important;
	box-shadow: inset 3px 3px 6px rgba(0, 0, 0, 0.35);
}

.portfolio::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
}
.portfolio::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0,0,0,.5);
    box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.portfolio-header {
	text-align: center;
}

.portfolio-header-text {
	text-align: center;
	font-size: 1.25em;
	font-weight: bold;
}

.portfolio-item {
	border: 1px dotted #E3CB80;
	border-radius: 5px;
	padding: 0.5em;
	margin: 1em;
}

.portfolio-item-header {
	display: inline;
}

.portfolio-item-header:hover {
	text-decoration: underline;
	font-style: italic;
}

.portfolio-item-header:active {
	color: #E3CB80;
}

.portfolio-item p {
	padding-left: 1em;
	display: inline;
}

.pic-link {
	color: #17E8A4;
	text-decoration: underline;
	padding-left: 0.5em;
}

.pic-link:hover {
	color: #E3CB80;
}

.copyright {
	font-family: "Josefin Sans", Helvetica;
	color: #17E8A4 !important;
	text-align: center;
	color: white;
	padding-top: 710px;
	padding-bottom: 0;
	font-size: 0.9em;
}